  <ol class="projectList">
    <% projects.each do |project| %>
      <li>
        <a href="<%= url_for project %>">
          <section class="project">
            <h3 class="title"><%= project.title %></h3>
            <span class="creationTime" data-seconds="<%= project.created_at.strftime('%s') %>"><%= project.created_at.strftime('%a, %b %d %Y') %></span>
            <span class="pledgeTotal">$<%= '%d' % project.price %></span>
            <p class='description'>
              <%= project.description[0,125]+ '...' if project.description.length > 125%>
            </p>
          </section>
        </a>
      </li>
    <% end %>
  </ol>
