<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <%= form_tag requests_path, :method => 'get', :class => 'navbar-search pull-left', :id => 'requestSearch' do %>
        <%= label_tag 'searchField', 'Search' %>
        <%= text_field_tag :search, params[:search], :class => "search-query", :id => 'searchField', :placeholder => 'Search Requests' %>
        <% submit_tag "Search", :name => nil %>
      <% end %>...
        <%= link_to "Recent", requests_path(:order => "recent") %>
        <%= link_to "Highest Bounty", requests_path(:order => "most_expensive") %>
        <%= link_to "Lowest Bounty", requests_path(:order => "least_expensive") %>
    </div>
  </div>
</div>


