<h1>Editing user</h1>

<% if @form %>
  <%= render @form %>
<% else %>
  <div id="company_form">
    Company Fields: <br />
    <%= render 'company_form' %>
  </div>
  <div id="individual_form">
    Individual Fields: <br />
    <%= render 'individual_form' %>
  </div>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
