<% if params['created'] %>
  <h2>Welcome to codepool</h2>
<% end %>


<%= image_tag user_pic(@user), :width => "80px" %>

<p>
  <b>User Name:</b>
  <%= @user.name %>
</p>
<p>
  <b>Type:</b>
  <%= (@user.company ? "Company" : "Individual") unless @user.company.nil? %>
</p>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
<p>
  <b>Description:</b>
  <%= @user.description %>
</p>
<table >
  <tr>
    <td> Request Name </td> 
    <td> <%= "#{@user.name}'s Donation" %> </td> 
    <td> Total Bounty </td> 
    <td> Deadline </td> 
  </td>
    
    <% @donations.each do |donation| %>
      <tr>
        <td> <%= donation.request.title %> </td>
        <td><%= donation.dollar_amount %></td>
        <td> <%= donation.request.dollar_price %> </td>
        <td> <%= donation.created_at.strftime(" %b %d, %Y ") %></td>
      </tr>
    <% end %> 
</table>

<%= link_to 'Edit', edit_user_path(@user) %>
