<% if params['created'] %>
  <h2>Welcome to codepool</h2>
<% end %>

<p>
  <b>User Name:</b>
  <%= @user.name %>
</p>
<p>
  <b>Email:</b>
  <%= @user.email %>
  </p>
  <% if !@user.description.nil? %>
<p>
  <b>Description:</b>
  <%= @user.description %>
  </p>
<% end %> 
<table >
  <tr>
    <td> Request Name </td> 
    <td> <%= "#{@user.name}'s Donation" %> </td> 
    <td> Total Bounty </td> 
    <td> Deadline </td> 
  </td>
    
    <% @donations.each do |donation| %>
      <tr>
        <td> <%= link_to truncate(donation.request.title), request_path(donation.request) %> </td>
        <td><%= donation.dollar_amount %></td>
        <td> <%= donation.request.dollar_price %> </td>
        <td> <%= donation.created_at.strftime(" %b %d, %Y ") %></td>
      </tr>
    <% end %> 
</table>

<%= link_to 'Edit', edit_user_path(@user) %>
