<% if params[:confirm] %>
  <div>
    <h2>Thank you for your pledge!</h2>
    <p>Be sure to share the following link with developers in your community so that they know they can receive a bounty for fixing this bug.</p>
    <h3><a href="<%= url_for @request %>"><%= url_for :controller => 'requests', :id => @request.id, :only_path => false %></a></h3>
    <input type='text' value='<%= url_for :controller => 'requests', :id => @request.id, :only_path => false %>'/>
  </div>
<% else %>
  <div>
    <h2>Thank you supporting open source!</h2>
    <h3>It just wouldn't be the same without some words from the legal department!</h3>
    <textarea>
      Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Sed posuere consectetur est at lobortis. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Curabitur blandit tempus porttitor.

      Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Aenean lacinia bibendum nulla sed consectetur. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec ullamcorper nulla non metus auctor fringilla. Aenean lacinia bibendum nulla sed consectetur.

      Vestibulum id ligula porta felis euismod semper. Sed posuere consectetur est at lobortis. Maecenas faucibus mollis interdum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
    </textarea>
    <p>
    </p>
    <p>
      This is how your money breaks down.<br>
      %%FANCY SLIDER THAT SHOWS BREAKDOWN%%<br>
      Are you sure you want to commit $<%= params[:pledge_amount] %>?
    </p>
    <form method="post" id="pledge_confirm">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="pledge_amount" value="<%= params[:pledge_amount] %>">
      <input type="hidden" name="id" value="<%= params[:id] %>">
      <input type="hidden" name="pid" value="<%= params[:pid] %>">
      <input type="hidden" name="confirm" value="1">
      <button id="confirm_submit">Yes!</button>
    </form>
  </div>
  <script>
    $(function(){
      $('#confirm_submit').one('click',function(){
        $('#pledge_confirm').attr('action','/submit_pledge').submit();
        $('#confirm_submit').attr('disabled','disabled').html('Please wait...');
      })
    })
  </script>

<% end %>
