
<header id="requestListHeader">
  <%= render "components/request_list_header" %>
</header>
<div class="row">

<section id="requestList" class="span8">
  <%= render 'components/request_list', { :requests => @requests} %>
  <%= will_paginate @requests %>
</section>
<section id="sideBar" class="span4">
  <h3> Codepool is Here to Help You </h3>
  <p>
    Codepool allows developers to finish requests faster by posting bounties for their most urgent issues. Creating a
    request only takes a minute, so create an account now.
  </p>
  <%= link_to "Create a Request", new_request_path, :class=>"btn large primary"   %>
  <h4>Request Tags</h4>
  <%= render 'components/tag_cloud', { :tagged => Request }%>
  <%= render 'components/side_sort' %>
</section>


