Congratulations! Submit the closed github issue link with your pull request below and we'll contact you!

<%= form_tag "/submission" do %>
  <div class = "field">
    <%= hidden_field_tag :pid, @request.id %>
  </div>
  <div class = "field">
    <%= label_tag :Closing_Link %>
    <%= text_field_tag :issue_link %>
  </div>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
