<div class="row" >
	<div class="span16">
		<h2><%= link_to(@request.title, @request) %></h2>
		<%= if authority? then link_to "Destroy (admin)", @request, :method => 'delete' end %>

		<div class="row" id="show-request-1">
			<div class="span9">
				<h3>Description</h3>
				<p><%= simple_format @request.description %></p>
				</br>
				<h4>Original Issue link : </h4>
        <%= link_to @request.original_issue, @request.original_issue %>
				<h3>Share This Issue </h3>
				<p>Use the link below to share the bounty for this issue and help the community get a solution faster.</p>
				<%= link_to(request.url, request.url) %></br></br>
				<a href= "https://twitter.com/share?text=A%20bounty%20has%20been%20posted%20for%20this%20programming%20issue" > <img src="/assets/twitter.png"> </a>
				<a href="http://www.facebook.com/sharer.php?u=http://codepool.org/" title="Share this Bounty on Facebook"> <img src="/assets/facebook.png"> </a>
				</br></br>
        <% if @request.price > 0   %>
          <h3>Submit a Result </h3>
          <p>Solved this issue? Claim your bounty below.</p>
          <%= link_to "Submit", new_request_submission_path(@request), :class => "btn small primary" %>
        <% end %>
				<%= if authority? then link_to "Close Request (admin)", close_request_path end %>
      </div>
			<div class="span4">
					<h3> Current Bounty</h3>
					<h1><%= "$ " + @request.price.to_i().to_s() %> </h1>
					
					
          <% if @current_user.nil? %>
            <!--Must be logged in to pledge-->
          <% else %>
						<form id="stripe-form" method="post" action='/submit_pledge'>
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
						  <fieldset id="pledgeBox">

						    <input type="hidden" id="user-id" name="id" value="<%= @current_user.id %>">
						    <input type="hidden" id="request-id" name="pid" value="<%= @request.id %>">
						    <input type="hidden" id="stripe-token" name="token" value="<%= @current_user.stripe_token %>">
						    <input type='text' id='stripe-pledgeAmount' name='pledge_amount' value='' >
						    <input type="hidden" id="user-hasToken" value="<%= !(@current_user.stripe_token.nil? || @current_user.stripe_token.empty?) ? 1 : 0 %>">
						    <input type='submit' id='stripe-submitPledge' value='Contribute to Bounty' class="btn primary"/>
						  </fieldset>
						  <fieldset id="creditCardFields">
						    <div>
						      <label for="stripe-ccNumber">Credit Card Number</label>
						      <input type="text" id="stripe-ccNumber" value="">
						    </div>
						    <div>
						      <label for="stripe-ccCode">Security Code on Card (CVV)</label>
						      <input type="text" id="stripe-ccCode" value="">
						    </div>
						    <div>
					        <label for="stripe-ccExpiration">Card Expiration</label>
					        <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "stripe-ccMonth"} %>
					        <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "stripe-ccYear"} %>
						    </div>
					      <p id="stripe-error" class='bad'></p>
					      <div class="actions">
					        <button id="stripe-submit" class='btn primary'>Submit</button>
					      </div>


						  </fieldset>
						</form>
          <% end %>

          <% top_contributors(@request).each do |contributor, price| %>
            <%= link_to contributor.name, contributor %> 
          <% end %>

			</div>
		</div>
	</div>
</div>

