Your Github link is <%= @user.github_link %>. This is non-editable, as we need your github identity for verification of posting and solving. 
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= label_tag :company %>
    <%= radio_button_tag :company, true, true %><br />
    <%= label_tag :individual %>
    <%= radio_button_tag :company, false %><br />
  </div>
  <br /> Company Fields: <br />
  <div class="field">
    <%= f.label :company_name %>
    <%= f.text_field :company_name %>
  </div>
  <div class="field">
    <%= f.label :contact_person_name %>
    <%= f.text_field :contact_person_name %>
  </div>
  <div class="field">
    <%= f.label :contact_email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :contact_person_phone %>
    <%= f.telephone_field :contact_person_phone %>
  </div>
  <div class="field">
    <%= f.label :Company_Description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :website %>
    <%= f.text_field :website_link %>
  </div>
  <div class="field">
    <%= f.label :tax_id %>
    <%= f.text_field :tax_id %>
  </div>
  <br />Individual Fields: <br />
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field"> 
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit :class => "btn primary"%>
  </div>
<% end %>
