<section id="homeIntro">
  <div id="introVideo">

  </div>
  <div id="introText">
    <h2>Sponsor Open Source Requests!</h2>
    <p>1000 companies pledged including:</p>
    <ul>
      <li>Google</li>
      <li>IBM</li>
      <li>Oracle</li>
      <li>Qualcomm</li>
      <li>Codepool</li>
    </ul>
  </div>
</section>
<header id="projectListHeader">
  <%= form_tag projects_path, :method => 'get', :class => '', :id => 'projectSearch' do %>
    <%= label_tag 'searchField', 'Search' %>
    <%= text_field_tag :search, params[:search], :id => 'searchField', :placeholder => 'Search Requests' %>
    <% submit_tag "Search", :name => nil %>
  <% end %>
</header>

<section id="projectList">
  <%= render "components/project_list", { :projects => @projects} %>
</section>

<section id="sideBar">
  <h4>Project Tags</h4>
  <%= render 'components/tag_cloud', { :tagged => Project }%>
</section>
