<% @donations.each do |donation| %>
  <tr>
    <td><%= donation.project.title %></td>
    <td><%= donation.user.name  %></td>
    <td><%= donation.amount %></td>
    <td><%= donation.id %></td>
    <td><%= donation.created_at %></td>
  </tr>
</br>
<% end %>