
<header id="projectListHeader">
  <%= form_tag projects_path, :method => 'get', :class => '', :id => 'projectSearch' do %>
    <%= label_tag 'searchField', 'Search' %>
    <%= text_field_tag :search, params[:search], :id => 'searchField', :placeholder => 'Search Requests' %>
    <% submit_tag "Search", :name => nil %>
  <% end %>
</header>

<section id="projectList">
  <%= render 'components/project_list', { :projects => @projects} %>
  <%= will_paginate @projects %>
</section>
<section id="sideBar">
  <h3> Codepool is Here to Help You </h3>
  <p>
    Codepool allows developers to finish projects faster by posting bounties for their most urgent issues. Creating a
    request only takes a minute, so create an account now.
  </p>
  <%= link_to "Create a Request", new_project_path, :class=>"btn large primary"   %>
  <h4>Project Tags</h4>
  <%= render 'components/tag_cloud', { :tagged => Project }%>
</section>


