Please Select your method of payment: 

<%= form_for @user, :url => "/submission" do |f| %>
  <div class = "field">
    <%= f.hidden_field :pid, :value => @project.id %>
  </div>
  <div class = "field">
    Would you like to be paid via paypal? <br />
    <%= f.check_box :paypal %>
  </div>
  
  <div class = "field">
    Or would you like us to pay you by check? <br />
    If so, enter your address here:   <%= f.text_field :address %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
