Please Select your method of payment: 

<%= form_for @user, :url => "/pre_submit" do |f| %>
  <div class = "field">
    <%= f.hidden_field :pid, :value => @project.id %>
  </div>
  <div class = "field">
  Would you like to pay via <%= f.label :paypal %>
  <%= f.check_box :paypal %>
  </div>
  
  <div class = "field">
  Or would you like us to pay you by check? 
    If so, enter your address here:   <%= f.text_field :address %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
