<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Price:</b>
  <%= @project.price %>
</p>


<% if @current_user.nil? %>
  Not logged in
<% else %>
<form id="stripe-form" method="post" action='/submit_pledge'>
  <fieldset id="pledgeBox">
    <label for='pledgeAmount'>
    <input type="text" id="user-id" name="id" value="<%= @current_user.id %>">
    <input type="text" id="project-id" name="pid" value="<%= @project.id %>">
    <input type="text" id="stripe-token" name="token" value="<%= @current_user.stripe_token %>">
    <input type='text' id='stripe-pledgeAmount' value='200' >
    <input type="text" id="user-hasToken" value="<%= !(@current_user.stripe_token.nil? || @current_user.stripe_token.empty?) ? 1 : 0 %>">
    <input type='submit' id='stripe-submitPledge' value='Submit Pledge'/>
  </fieldset>
  <fieldset id="creditCardFields">
    <div>
      <label for="stripe-ccNumber">Credit Card Number</label>
      <input type="text" id="stripe-ccNumber" value="4242424242424242">
    </div>
    <div>
      <label for="stripe-ccCode">Security Code on Card (CVV)</label>
      <input type="text" id="stripe-ccCode" value="123">
    </div>
    <div>
      <label for="stripe-ccExpiration">Card Expiration</label>
      <%= select_month nil, {add_month_numbers: true}, {name: nil, id: "stripe-ccMonth"} %>
      <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "stripe-ccYear"} %>
    </div>
    <button id="stripe-submit">Submit</button>
    <p id="stripe-error"></p>
  </fieldset>
</form>
<% end %>

<%= link_to 'Back', projects_path %>


