<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Description:</b>
  <%= @project.description %>
</p>

<p>
  <b>Price:</b>
  <%= @project.price %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>


	<%= form_for( @donation  ) do |f| %>
	
	  <div class = "field">
	    <%= f.hidden_field(:project_id, :value => @project.id) %>
	  </div>
	  <div class = "field">
	    <%= f.hidden_field(:user_id, :value => @user.id) %>
	  </div>

		<div class="field">
		  <%= f.label :amount %><br />
		  <%= f.text_field :amount %>
		</div>

		<div class="actions">
		  <%= f.submit %>
		</div>

	<% end %>
