<div style="background-color:black;text-align: left;padding: 5px 0 5px 15px;">
  <a href="http://codepool.org" style="color:#E4A609;text-decoration:none;font-size:175%;letter-spacing: 1px"><b>code</b>pool</a>
</div>
<div style='border: 1px solid #999; padding: 1em'>
  <h2>PROJECT SUBMITTED!</h2>

  <p>User : <%= @user.id %> - <%= @user.name %> - <%= @user.email %></p>
  <p>Project : <%= @project.id %> - <%= @project.title %></p>

  <a href="http://codepool.org/">Start checking out projects now</a> or <a href="http://codepool.org/projects/new">pledge to a new project</a>!
  </p>

</div>
