<header id="siteHeader">
  <h1 id="companyName"><%= link_to "codepool", '/home' %></h1>
  <nav>
    <ul>
      <li><%= link_to "Browse Requests", '/projects' %></li>
      <li><%= link_to "Create", '/projects/new' %></li>
      <li><%= link_to "How it Works", '/faq' %></li>
      <li><%= link_to "Blog", '/blog' %></li>
      <li><%= link_to "About", '/about' %></li>
      <% if current_user.nil? %>
        <li class="actionFocus"><%= link_to "Login", sign_in_path %></li>
        <li class="actionFocus"><%= link_to "Register", sign_up_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
<% if !current_user.nil? %>
  <div id="userLinks">
    <%= link_to current_user.name, current_user %>
    <%= link_to "Sign Out", sign_out_path   %>
  </div>
<% end %>
