<div class="topbar">
      <div class="topbar-inner">
        <div class="container">
        <%= link_to image_tag("codepoollogo-sm.png", :id=>"header_image"), root_url %>

		
      
       
        <form class="pull-left" action="" id="header_search">
        <input type="text" id="search" placeholder="Search">
        </form>
        <ul class="nav" id="header_nav">
          <li class="active"><%= link_to "Browse Requests", root_url %></li>
          <li><%= link_to "About", '/about' %></li>
          <li><%= link_to "FAQ", '/faq' %></li>
          <li><%= link_to "Contact", '/contact' %></li>
          <li id="profileLink">
            <% if current_user.nil? %>
              <%= link_to "Login", sign_in_path %>
 	      <li><%= link_to "Register", sign_up_path %></li>
            <% else %>
              <%= link_to "Sign Out", sign_out_path   %>
            <%end%>
          </li>
        </ul>
      </div>
    </div>
</div
