<div class="navbar">
  <div class="navbar-inner">
    <div class="container" >
      <%= link_to "Codepool",'/home', :class => "brand" %>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Browse Requests", '/requests' %></li>
          <li><%= link_to "Create", '/requests/new' %></li>
          <li><%= link_to "How it Works", '/faq' %></li>
          <li><%= link_to "Blog", '/blog' %></li>
          <li><%= link_to "About", '/about' %></li>
        </ul>
        <ul class="nav pull-right">
          <% if current_user %>
            <li> <%= link_to current_user.name, current_user %> </li>
            <li> <%= link_to "Sign Out", signout_path %> </li>
          <% else  %>
            <li class="actionFocus"><%= link_to "Login", sign_in_path %></li>
            <li class="actionFocus"><%= link_to "Register", sign_up_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>


