<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>codepool</title>
  <link href='http://fonts.googleapis.com/css?family=Cabin:500' rel='stylesheet' type='text/css'>
  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <link href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "https://js.stripe.com/v1/" %>
  <%= tag :meta, :name => "stripe-key", :content => STRIPE_PUBLIC_KEY %>
</head>

<body>
  <%= render 'layouts/header' %>

  <%= debug(params) if false && Rails.env.development? %>
  <%= render 'components/flash', { :flash => flash } %>

  <div class="container content" id="siteContent">
    <%= yield %>
  </div>
    <div id="contentFooter"></div>

  <%= render 'layouts/footer' %>

</body>
</html>
