<!DOCTYPE HTML>
<html>
<head>
<meta name="description" content="A solution to help open source requests finish faster." />
<title>codepool | when you can't wait for code</title>
<!--Attached CSS files here-->

<link rel="stylesheet" media="screen" href="fancybox/jquery.fancybox-1.3.4.css"/>

  <%= stylesheet_link_tag    "reset.css", "landing/style.css"  %>
  <%= stylesheet_link_tag    "landing/style.css" %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "landing/modernizr-1.5.min.js" %>


</head>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-26328777-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<body>

<!--header_top_bg starts-->
<div id="header_top_bg">
  <div id="header_top">
    <p>when you can't wait for code</p>
    <p class="tel">contribute to open source requests</p>
    <div class="clear"></div>
  </div>
</div>
<!--header_top_bg ends--> 

<!--header_bg starts-->
<div id="header_bg"> 
  
  <!--header_divider starts-->
  <div id="header_divider"></div>
  <!--header_divider ends--> 
  
  <!--header starts-->
  <div id="header"> 
    
    <!--logo starts-->
    <div class="logo"> <img src="assets/landing/codepoollogo-sm.png" alt="logo"> </div>
    <!--logo ends--> 
    
    <!--tagline starts-->
    <div class="tagline">
      <%= yield %>
    </div>
    <!--tagline ends-->
    
    <div class="clear"></div>
  </div>
  <!--header ends--> 
</div>
<!--header_bg ends--> 


<!--footer_bg starts-->
<div id="footer_bg">
  <div id="footer"> 
    
    <!--copyright starts-->
    <div class="copyright">
      <p>&copy; 2011 codepool.org</p>
      <ul>
<!--
        <li><a href="#">Terms</a></li>
        <li><a href="#">Privacy policy</a></li>
-->
      </ul>
    </div>
    <!--copyright ends--> 
    
    <!--social starts-->
    <ul class="social">
      <li><a href="http://twitter.com/codepoolorg" title="Twitter"><img src="/assets/landing/twitter.png" width="24" height="24" alt="twitter" /></a></li>

    </ul>
    <!--social ends-->
    
    <div class="clear"></div>
  </div>
</div>
<!--footer_bg ends--> 


<%= javascript_include_tag "landing/jquery.fancybox-1.3.5.js","js/jquery.form.js",  "landing/jquery.cycle.all.min.js", "landing/cufon-yui.js", "landing/ChunkFive_400.font.js", "landing/custom.js",  "landing/jquery.cycle.all.min.js",  %>

</body>
</html>
